*{
	font-family:"Comic Sans MS", cursive, sans-serif;
	box-sizing: border-box;
	background-color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  /*background-color: #666;*/
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: center;
  width: 100%;


  padding: 20px;
  text-align: center;
  
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 100%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #85d685;
  padding: 10px;
  text-align: center;
  color: black;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height = 2.5rem;
  
  
}

p{
	padding:10px;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#page-container {
  position: relative;
  min-height: 100vh;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
  


 